# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Brewfile lock
Brewfile.lock.json

# lazygit
lazygit/.config/lazygit/state.yml

# swap/working fiiles
*.swp

# logs
*.log
.netrwhist

# other
AppSupport
